html {
  font-size: 62.5%;
}

body {
  background-image: url(../assets/paintPattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #adadad;
  height: 100vh;
}

.wrapper {
  background-color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px dimgray;
}

h1,
h2,
button,
label,
p {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 5rem;
  padding: 20px;
}

h2 {
  padding: 20px;
  line-height: 3rem;
}

h2,
button,
label,
p {
  font-family: "Ubuntu Mono", monospace;
}

h2,
button {
  font-size: 2.5rem;
}

button {
  box-shadow: 1px 1px 1px 1px dimgray;
}

label {
  font-size: 2rem;
  margin: 20px;
}
