html {
  font-size: 62.5%;
}

body {
  background-image: url(../assets/paintPattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary;
  height: 100vh;
}

.wrapper {
  background-color: $white;
  max-width: 1280px;
  margin: 50px auto;
  width: 80%;
  height: 80vh;
  border-radius: 10px;
  // Google Material Design Box-Shadow
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

h1,
h2,
button,
label,
p {
  text-transform: uppercase;
  text-align: center;
}

h1,
h2,
label,
p {
  color: $secondary;
}

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 5rem;
  padding: 20px;
}

h2 {
  padding: 20px;
  line-height: 3rem;
  font-size: 2.5rem;
}

h2,
button,
label,
p {
  font-family: "Ubuntu Mono", monospace;
}

button {
  font-size: 2rem;
  //Google Material Design Box Shadow
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

label {
  font-size: 2rem;
  margin: 20px;
}
