// centers elements on the page
body,
.wrapper,
.startPage,
.gamePage,
.finalScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startPage {
  width: 80%;
}

// places start page buttons in a 4 x 2 grid
.startButtons {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 2;
  align-items: center;
}

// round info buttons on start page
.info {
  text-transform: lowercase;
  color: $white;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: $secondary;
  outline: none;
  border: none;
  transition: all 0.4s;
  // changes button appearance when user tabs through page
  &:focus {
    @include focus();
  }
}

// sets styles for all rectangle buttons
.levelButton,
.resetButton,
.nextQuestion,
.restart,
.infoBtn {
  width: 175px;
  height: 40px;
  background-color: $secondary;
  color: $white;
  border: none;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.4s;

  // changes button appearance when user tabs through page
  &:focus {
    @include focus();
  }
}

// makes colour code, answer result and final score bold
.bold {
  font-weight: 700;
  font-size: 2.7rem;
  display: block;
}

// wrapper for colour buttons
.buttonWrapper {
  width: 80vw;
  max-width: 1240px;
  border: none;
  display: grid;
  grid-template-columns: repeat(auto, minmax(250px, 1fr));
  grid-template-rows: auto;
  column-count: 4;
  column-gap: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

// places colour name labels below colour buttons
.gridItem2,
.gridItem4,
.gridItem6,
.gridItem8 {
  grid-row-start: 2;
}

// Four round buttons where users choose which colour matches the colour code
.colourButton {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  margin: 15px;
  outline: none;
  @include lightShadow();
}

#colourValue,
#answer {
  margin: 0 auto;
}

// next colour button and start again button
.reset {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// creates space below Play Again button on final score page
.restart {
  margin-bottom: 40px;
}
