body,
.wrapper,
.startPage,
.gamePage,
.finalScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startPage {
  width: 80%;
}

.startButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.levelButton,
.resetButton,
.nextQuestion,
.restart,
.infoBtn {
  width: 175px;
  height: 40px;
  background-color: $secondary;
  color: $white;
  border: none;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.4s;

  &:focus {
    border: 2px solid $secondary;
    background-color: $white;
    color: $secondary;
    outline: none;
  }
}

.bold {
  font-weight: 700;
  font-size: 2.7rem;
  display: block;
}

.buttonWrapper {
  width: 80vw;
  max-width: 1240px;
  border: none;
  display: grid;
  grid-template-columns: repeat(auto, minmax(250px, 1fr));
  grid-template-rows: auto;
  column-count: 4;
  column-gap: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.gridItem2,
.gridItem4,
.gridItem6,
.gridItem8 {
  grid-row-start: 2;
}

.colourButton {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  margin: 15px;
  outline: none;
  //Google Material Design Box Shadow
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#colourValue,
#answer {
  margin: 0 auto;
}

.result {
  font-weight: 700;
  font-size: 3.5rem;
  margin: 30px;
}

.reset {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.restart {
  margin-bottom: 40px;
}

.twitter-share-button {
  margin: 30px 0;
}
