@media (min-width: 1800px) {
  .wrapper {
    max-width: 1600px;
    height: auto;
  }

  h1 {
    font-size: 6rem;
    padding: 40px;
  }

  h2 {
    padding: 40px;
    line-height: 3.5rem;
  }

  h2,
  button {
    font-size: 3rem;
  }

  .bold {
    font-size: 3.3rem;
  }

  .colourButton {
    width: 250px;
    height: 250px;
  }

  .reset,
  .restart,
  .startButtons {
    margin-bottom: 40px;
  }

  .modalContent {
    max-width: 1280px;
  }

  .modalHeader {
    padding: 20px;
  }
}

@media (max-width: 1230px) {
  .colourButton {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1020px) {
  body {
    min-height: 125vh;
  }

  .wrapper {
    height: auto;
  }

  .buttonWrapper {
    column-count: 2;
    column-gap: 40px;
  }

  h1 {
    font-size: 3.5rem;
    margin-top: 30px;
    padding: 10px;
  }

  h2 {
    padding: 10px;
    line-height: 2.5rem;
  }

  h2,
  button {
    font-size: 2rem;
  }

  label {
    font-size: 1.8rem;
  }

  .colourButton {
    width: 175px;
    height: 175px;
  }

  .gridItem1,
  .gridItem5 {
    justify-self: end;
  }

  .gridItem3,
  .gridItem7 {
    justify-self: start;
  }

  .gridItem5,
  .gridItem7 {
    grid-row-start: 3;
  }

  .gridItem6,
  .gridItem8 {
    grid-row-start: 4;
  }

  .reset,
  .restart,
  .hex {
    margin-bottom: 40px;
  }
}

@media (max-width: 850px) {
  .bold {
    font-size: 2.3rem;
  }

  .levelButton {
    width: 150px;
    height: 40px;
  }

  .restart {
    padding: 10px 20px;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .modalText {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

@media (max-height: 730px) {
  body {
    height: 150vh;
  }

  .wrapper {
    height: auto;
  }

  h1 {
    margin-top: 30px;
    font-size: 4rem;
  }

  .startButtons,
  .reset {
    margin-bottom: 40px;
  }

  .colourButton {
    width: 150px;
    height: 150px;
  }
}

// @media (orientation: landscape) {
//   body {
//     min-height: 250vh;
//   }
// }

@media (max-width: 680px) {
  .colourButton {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  label {
    font-size: 1.6rem;
    margin: 10px;
  }

  .buttonWrapper {
    column-gap: 20px;
  }

  .colourButton {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 400px) {
  .colourButton {
    width: 100px;
    height: 100px;
  }

  .resetButton,
  .nextQuestion,
  .infoBtn {
    padding: 10px 20px;
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  label {
    font-size: 1.4rem;
    margin: 5px;
  }

  .bold {
    font-size: 2rem;
  }

  .colourButton {
    width: 90px;
    height: 90px;
  }
}
