// Start Page Info Modals

// Modal background
.namedInfoModal,
.rgbInfoModal,
.hslInfoModal,
.hexInfoModal {
  display: none; // Hidden by default
  position: fixed; // Stay in place
  z-index: 1; // Sit on top
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0, 0, 0); //Fallback color
  background-color: rgba(0, 0, 0, 0.4); // Black w/ opacity
}

// Modal Content/Box
.namedModal,
.rgbModal,
.hslModal,
.hexModal {
  background-color: $white;
  margin: 15% auto; //15% from the top and centered
  padding: 20px;
  width: 75%;
  border-radius: 10px;
  @include heavyShadow();
}

.modalText {
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 40px;
}

// The Close Button
.close {
  background-color: $secondary;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: $white;
  float: right;
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  &:hover,
  &:focus {
    color: $secondary;
    background-color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}
