a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../assets/paintPattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #adadad;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  background-color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 2px 2px dimgray;
          box-shadow: 2px 2px 2px 2px dimgray;
}

h1 {
  font-family: "Permanent Marker", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  padding: 20px;
}

h2 {
  padding: 20px;
  text-transform: uppercase;
  line-height: 3rem;
}

h2,
button {
  font-family: "Ubuntu Mono", monospace;
  font-size: 2.5rem;
  text-align: center;
}

button {
  -webkit-box-shadow: 1px 1px 1px 1px dimgray;
          box-shadow: 1px 1px 1px 1px dimgray;
}

.startPage,
.gamePage,
.finalScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.startPage {
  width: 80%;
}

.startButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.levelButton {
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 1px 1px 1px 1px dimgray;
          box-shadow: 1px 1px 1px 1px dimgray;
  border-radius: 10px;
  margin: 20px;
  text-transform: uppercase;
}

.levelButton:focus {
  border: 2px solid black;
  background-color: #fff;
  color: black;
  outline: none;
}

.bold {
  font-weight: 700;
  font-size: 2.7rem;
}

.colourButton {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 15px;
  outline: none;
  -webkit-box-shadow: 2px 2px 2px 2px dimgray;
          box-shadow: 2px 2px 2px 2px dimgray;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.colourButton:hover, .colourButton:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.colourButton:focus {
  border: 2px solid black;
}

#buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 80vw;
  max-width: 1280px;
  border: none;
}

#colourValue {
  margin: 0 auto;
}

#answer {
  margin: 0 auto;
  text-align: center;
}

#reset {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resetButton,
.nextQuestion,
.restart,
#infoBtn {
  background-color: #000;
  color: #fff;
  border: none;
  margin: 10px;
  text-transform: uppercase;
  border-radius: 10px;
}

.resetButton:focus,
.nextQuestion:focus,
.restart:focus,
#infoBtn:focus {
  border: 2px solid black;
  background-color: #fff;
  color: black;
  outline: none;
}

.restart {
  padding: 15px 30px;
  margin-bottom: 40px;
}

.resetButton,
.nextQuestion,
#infoBtn {
  padding: 10px 20px;
  font-size: 2rem;
}

.twitter-share-button {
  margin: 30px 0;
}

/* The Modal (background) */
.infoModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #adadad;
  width: 75%;
  border-radius: 10px;
}

.modalText {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* The Close Button */
.close {
  background-color: #adadad;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1800px) {
  .wrapper {
    max-width: 1600px;
    height: auto;
  }
  h1 {
    font-size: 6rem;
    padding: 40px;
  }
  h2 {
    padding: 40px;
    line-height: 3.5rem;
  }
  h2,
  button {
    font-size: 3rem;
  }
  .bold {
    font-size: 3.3rem;
  }
  .colourButton {
    width: 300px;
    height: 300px;
  }
  #reset,
  .restart,
  .startButtons {
    margin-bottom: 40px;
  }
  .modalContent {
    max-width: 1600px;
  }
}

@media (max-width: 1100px) {
  .colourButton {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 4rem;
  }
  h2,
  button {
    font-size: 2rem;
  }
  .bold {
    font-size: 2.3rem;
  }
  .levelButton {
    width: 150px;
    height: 40px;
  }
  .colourButton {
    width: 125px;
    height: 125px;
  }
  .restart {
    padding: 10px 20px;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .colourButton {
    width: 100px;
    height: 100px;
  }
  .modalText {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

@media (max-height: 730px) {
  body {
    min-height: 125vh;
  }
  .wrapper {
    height: auto;
  }
  h1 {
    margin-top: 30px;
  }
  #reset,
  .restart,
  #hard {
    margin-bottom: 40px;
  }
}

@media (max-width: 620px) {
  .wrapper {
    height: auto;
  }
  h1 {
    font-size: 3.5rem;
    margin-top: 30px;
    padding: 10px;
  }
  h2 {
    padding: 10px;
    line-height: 2.5rem;
  }
  #buttonWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .colourButton {
    width: 150px;
    height: 150px;
  }
  #reset,
  .restart,
  #hard {
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
  .colourButton {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 400px) {
  .colourButton {
    width: 100px;
    height: 100px;
  }
  .resetButton,
  .nextQuestion,
  #infoBtn {
    padding: 10px 20px;
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .bold {
    font-size: 2rem;
  }
  .colourButton {
    width: 90px;
    height: 90px;
  }
}
